.leftCol{
  border: 2px solid black;
  height: 522px;
  overflow-y: scroll;
}

.rightCol{
  border: 2px solid black;
  background-color: lightgray;
  min-height:522px;
}

.container{
  height:auto;
}
